# Notion Integration
NOTION_TOKEN=
NOTION_BLOG_DB_ID=
NOTION_PROJECTS_DB_ID=

# Uploadthings Creds
UPLOADTHING_TOKEN=

# Turso Database (required for build)
TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=

# Secrets
WEBHOOK_SECRET=