---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Experience from "@/components/Experience.astro";
import Education from "@/components/Education.astro";
import BlogPosts from "@/components/BlogPosts.astro";
---

<BaseLayout title="Ved Prakash Gupta">
	<section>
		<h1 class="mb-8 text-2xl font-semibold tracking-tighter">
			Ved Prakash Gupta
		</h1>
		<p class="mb-4">
			Full Stack Developer | React Developer | Generative AI Developer |
			Azure Cloud Certified | Google Cloud Certified | Python Developer
		</p>
		<div
			class="mb-4 rounded-sm border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-300"
		>
			<p class="m-0">
				Just trying to be a developer while looking for the right role.
				If you know of any vacancies, feel free to let me know.
			</p>
		</div>
		<p class="mb-4 text-sm">
			Cloud Developer with a strong background in cloud solutions and web
			development. After starting as a freelancer, I gained expertise in
			React, Next.js, JavaScript, TypeScript, Docker, Kubernetes, DevOps.
			Currently, I work at LTIMindtree, where I focus on designing and
			implementing scalable cloud infrastructure. I am passionate about
			open-source contributions and enjoy creating projects to explore and
			innovate with new technologies. Connect with me here or at
			vedgupta0401@gmail.com
		</p>
		<Experience />
		<Education />
		<div class="my-8">
			<h2 class="mb-8 text-xl font-semibold tracking-tighter">
				Featured Posts
			</h2>
			<BlogPosts />
		</div>
	</section>
</BaseLayout>
