---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
    title="Resume"
    description="Resume of Ved Gupta - Cloud Engineer and Full Stack Developer"
>
    <section>
        <h1 class="mb-8 text-2xl font-semibold tracking-tighter">Resume</h1>
        <div style="width: 100%; height: 100vh;">
            <iframe
                src="/pdf/ved-gupta-resume.pdf"
                width="100%"
                height="100%"
                title="Ved Gupta Resume"></iframe>
        </div>
    </section>
</BaseLayout>
