---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProjectPosts from "@/components/ProjectPosts.astro";
---

<BaseLayout
    title="Projects"
    description="Projects by Ved Gupta (innovatorved | vedgupta) - Cloud, AI, and Web Development."
>
    <section>
        <h1 class="font-semibold text-2xl mb-8 tracking-tighter">
            My Projects
        </h1>
        <ProjectPosts />
    </section>
</BaseLayout>
